<div class="page-header">
	<h1>Post management</h1>
</div>

<br>

<div class="jumbotron text-center" ng-show="postmanagement.loading">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Loading...</p>
</div>

<br>

<div class="navbar-form">
	<div class="row">
		<div class="col-md-6 col-lg-4">
			<div class="input-group">
				<span class="input-group-addon">Number of results to display:</span>
				<input type="text" class="form-control" ng-model="number">
			</div>
		</div>
		<div class="col-md-6 col-lg-4">
			<button type="button" ng-click="postmanagement.showMore(number);" class="btn btn-success">Apply Filter</button>
			<button type="button" ng-click="postmanagement.showAll();" class="btn btn-warning">Show All</button>
		</div>
	</div>
</div>

<div class="navbar-form">
	<div class="form-group">
		<input type="text" class="form-control" name="searchByUsername" placeholder="Search by..." ng-model="searchByUsername">
	</div>
	<label>&nbspUsername</label>
</div>

<div class="navbar-form">
	<div class="form-group">
		<input type="text" class="form-control" name="searchByText" placeholder="Search by..." ng-model="searchByText">
	</div>
	<label>&nbspPost</label>
</div>

<div class="navbar-form">
	<button type="button" ng-click="postmanagement.advancedSearch(searchByUsername, searchByText);" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>&nbsp Search</button>
	<button type="button" ng-click="postmanagement.advancedClear();" class="btn btn-default">Clear</button>
</div>

<br>

<div class="navbar-form">
	<div ng-show="postmanagement.searchLimit === undefined">
		<p><strong>Total results found : </strong>{{(posts | filter: advancedSearchFilter).length}}</p>
	</div>

	<div ng-show="postmanagement.searchLimit === undefined">
		<p><strong>Results showing : </strong>{{(posts | filter: advancedSearchFilter | limitTo: postmanagement.limit).length}}</p>
	</div>


	<br>

	<div class="row show-hide-message" ng-show="postmanagement.showMoreError">
		<div class="alert alert-danger">{{postmanagement.showMoreError}}</div>
	</div>

	<br>

	<div class="panel panel-primary">
		<div class="panel-heading" style="text-align: center;"><strong>Post Management</strong></div>
		<div class="table-responsive">
			<table class="table">
				<tr>
					<th>Post Text</th>
					<th>Posted by</th>
					<th>Posted on</th>
				</tr>
				<tr class="post" ng-repeat="post in posts | filter: advancedSearchFilter | orderBy:'created_at':true | limitTo: postmanagement.limit" ng-class-odd="'odd'" ng-class-even="'even'">
					<td>{{post.text}}</td>
					<td>{{post.created_by}}</td>
					<td>{{post.created_at | date:"h:mma 'on' MMM d, y"}}</td>
					<td>
						<!--<a href="/edit/{{person._id}}">
							<button type="button" ng-show="postmanagement.editAccess" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp Edit</button>
						</a>-->
						<button type="button" ng-click="postmanagement.deletePost(post._id);" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp Delete</button>
						
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<br>

<div class="row show-hide-message" ng-show="postmanagement.successMsg">
	<div class="alert alert-success">{{postmanagement.successMsg}}</div>
</div>

<div class="row show-hide-message" ng-show="postmanagement.errorMsg">
	<div class="alert alert-danger">{{postmanagement.errorMsg}}</div>
</div>